@model Mijem_test_app.Models.ReservationDate
@{
    ViewBag.Title = "Edit Reservation";
    Layout = "~/Views/Shared/_LayoutReservation.cshtml";
}

<style>
    #hr {
        overflow: visible; /* For IE */
        padding: 0;
        border: none;
        border-top: medium double #333;
        color: #333;
        text-align: center;
    }

        #hr:after {
            content: "§";
            display: inline-block;
            position: relative;
            top: -0.7em;
            font-size: 1.5em;
            padding: 0 0.25em;
            background: white;
        }
</style>

<div class="w3-container row" style="background-color:#fff;padding-top: 15px;">
    <div class="column">
        <h2 style="color: red; font-size:2em">Edit Reservation</h2>
    </div>
    <div class="column">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="column">
        <input type="button" value="List Reservations" class="btn btn-primary column_button" onclick="@("window.location.href='" + @Url.Action("Index", "ReservationDates") + "'");" />
    </div>
</div>

<h3>Edit details for: @Model.Reservation.Name</h3>
<p>Booked for @Model.ReservedDate.ToShortDateString() by @Model.Contact.Name</p>
<hr id="hr"/>
<h4>Change Date</h4>
@using (Html.BeginForm("Update", "ReservationDates"))
{
    <div class="row-contact" style="background-color:#fff;padding-top: 15px;">
        <div>
            @Html.EditorFor(m => m.ReservedDate, new
            {
                htmlAttributes =
                                                            new
                                                            {
                                                                @class = "form-control",
                                                                @id = "datepicker",
                                                                name = "BirthDate",
                                                                style = "background:#FFFFFF url(https://i.imgur.com/Vpa8zkj.png) no-repeat 4px 4px;padding-left:30px;float: left;width: 25%;"
                                                            }
            })
        </div>
    </div><br /><br />
    <div>
        @Html.TextAreaFor(m => m.InfoFromTextBox, new
        {
            htmlAttributes =
                new
                {
                    @id = "editor",
                }
        })
    </div>
    <button style="margin-top: 15px; float:right;" class="btn btn-success">Save</button>
}

@using (Html.BeginForm("Delete", "ReservationDates"))
{
    @Html.HiddenFor(x => x.Id)
    <button style="background: red; margin-right: 15px; margin-top: 15px; float:right;" class="btn btn-success">Delete</button>
}
<br/><br/>
<script>
    ClassicEditor
        .create(document.querySelector('#InfoFromTextBox'))
        .catch(error => {
            console.error(error);
        });
</script>