@model Mijem_test_app.Models.Contact

@{
    ViewBag.Title = "Create a Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-container row" style="background-color:#fff;padding-top: 15px; margin-bottom: 10px;">
    <div class="column">
        <h2 style="color: red; font-size:2em">Create a Reservation</h2>
    </div>
    <div class="column">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="column">
        <input type="button" value="Reservation List" class="btn btn-primary column_button" onclick="@("window.location.href='" + @Url.Action("Index", "ReservationDates") + "'");" />
    </div>
</div>

@using (Html.BeginForm("NewReservation", "ReservationDates"))
{
    <div class="" style="background-color:#fff;padding-top: 15px;">
        <div style="float: left;width: 30%;padding: 1px;">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = 
                new { @class = "form-control", 
                    placeholder = @Html.DisplayNameFor(m => m.Name) } })
        </div>
        <div style="float: left;width: 30%;padding: 1px;">
            @Html.EditorFor(m => m.ContactType, new { htmlAttributes = 
                new { @class = "form-control", 
                    placeholder = @Html.DisplayNameFor(m => m.ContactType) } })
        </div>
        <div style="float: left;width: 30%;padding: 1px;">
            @Html.TextBoxFor(m => m.ContactNumber, new { htmlAttributes = 
                new { @class = "form-control", 
                    placeholder = @Html.DisplayNameFor(m => m.ContactNumber) } })
        </div>
        <div style="float: left;width: 10%;padding: 1px;">
            @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = 
                new { @class = "form-control", 
                    placeholder = @Html.DisplayNameFor(m => m.BirthDate) } })
        </div>
    </div>
}