@model Mijem_test_app.Models.ReservationDate

@{
    ViewBag.Title = "Create a Reservation";
    Layout = "~/Views/Shared/_LayoutReservation.cshtml";
}



<div class="w3-container row" style="background-color:#fff;padding-top: 15px; margin-bottom: 10px;">
    <div class="column">
        <h2 style="color: red; font-size:2em">Enter Details</h2>
    </div>
    <div class="column">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="column">
        <input type="button" value="Reservation List" class="btn btn-primary column_button" onclick="@("window.location.href='" + @Url.Action("Index", "ReservationDates") + "'");" />
    </div>
</div>


<p style="color: red; float: right;">&#x2199; contact must be older than 16</p> <br/>
@using (Html.BeginForm("UpdateOrAddContact", "Contacts", FormMethod.Post, new { @id = "form" }))
{
    <div class="row-contact" style="background-color:#fff;padding-top: 15px;">
        <div>
            @Html.EditorFor(m => m.Contact.Name, new
       {
           htmlAttributes =
                    new
                    {
                        @class = "form-control",
                        required = "required",
                        @id = "cname",
                        style = "background:#FFFFFF url(https://i.imgur.com/XVEmIjP.png) no-repeat 4px 4px;padding-left:30px;float: left;margin-right: 5px;",
                        placeholder = @Html.DisplayNameFor(m => m.Contact.Name)
                    }
       })
        </div>
        <div>
            @Html.EditorFor(m => m.Contact.ContactType, new
            {
                htmlAttributes =
                    new
                    {
                        @class = "form-control",
                        list = "contactType",
                        required = "required",
                        @id = "ctype",
                        name = "contactType",
                        style = "background:#FFFFFF url(https://i.imgur.com/Bchv5Vl.png) no-repeat 4px 4px;padding-left:30px;float: left;width: 30%;margin-right: 5px;",
                        placeholder = @Html.DisplayNameFor(m => m.Contact.ContactType)
                    }
            })
            <datalist id="contactType">
                <option value="Home">
                <option value="Cell">
                <option value="Work">
            </datalist>
        </div>
        <div>
            @Html.EditorFor(m => m.Contact.ContactNumber, new
            {
                htmlAttributes =
                    new
                    {
                        @class = "form-control",
                        @id = "cnum",
                        required = "required",
                        style = "background:#FFFFFF url(https://i.imgur.com/zPUpbEt.png) no-repeat 4px 4px;padding-left:30px;float: left;width: 30%;margin-right: 5px;",
                        placeholder = @Html.DisplayNameFor(m => m.Contact.ContactNumber),
                        type = "tel"
                    }
            })
        </div>
        <div>
            @Html.EditorFor(m => m.Contact.BirthDate, new
            {
                htmlAttributes =
                    new
                    {
                        @class = "form-control",
                        @id = "datepicker",
                        required = "required",
                        name = "BirthDate",
                        style = "background:#FFFFFF url(https://i.imgur.com/Vpa8zkj.png) no-repeat 4px 4px;padding-left:30px;float: left;width: 20%;",
                        placeholder = @Html.DisplayNameFor(m => m.Contact.BirthDate)
                    }
            })
        </div>
    </div>
    @Html.HiddenFor(m => m.Contact.Id)
    <button type="submit" onclick="return validateForm();" style="margin-right: 3%;margin-top: 25px;float:right; background: red;" class="btn btn-success">Save</button>
}
<br/><br/><br/><br />

<script>
    $(function () {
        $("#datepicker").datepicker({
            maxDate: new Date(2002, 10, 29),
            minDate: new Date(1900, 1, 1)
        });
    });

</script>





